# General
.vs/
.vscode/
node_modules/
bin/
obj/
dist/

# Project Specific
Vamp.Client/node_modules/
Vamp.Client/dist/
Vamp.Api/bin/
Vamp.Api/obj/
Vamp.Api/CharacterData/
Vamp.Api/Characters.json

# Runtime Logs
*.log
*.err.log

# IDE
*.suo
*.user
*.userosscache
*.sln.docuser
